# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
target
log.path_IS_UNDEFINED
personalmanagement.iml
out
gen
