
<footer>
<div class="zxcf_top_wper">
    <div class="zxcf_top px1000 clearfix">
        <div class="zxcf_top_l fl">
            <img src="images/zxcf_phone.png" alt="">
            400-027-0101(工作时间9:00-17:30)
            <a href="#"><img src="images/zxcf_weixin.png" alt=""></a>
            <a href="#"><img src="images/zxcf_sina.png" alt=""></a>
            <a href="#"><img src="images/zxcf_qq.png" alt=""></a>
        </div>
        <div class="zxcf_top_r fr">
            <a href="UserExit" class="curspan">注销登陆</a>
            <span>|</span>
            <a href="UserExit">切换用户</a>
            <span>|</span>
            <a href="toproblem">常见问题</a>
        </div>
    </div>
</div>
<!-- end top -->
<div class="zxcf_nav_wper">
    <div class="zxcf_nav clearfix px1000">
        <div class="zxcf_nav_l fl"><img src="images/zxcf_logo.png" alt=""></div>

    </div>
</div>
<div class="zxcf_menu_wper">
    <div class="zxcf_menu px1000">
        <a href="toIndex" >首页</a>
        <a href="toInvest">我要投资</a>
        <a href="toBorrow">我要借款</a>
        <a href="toSSCW" class="zm_cura">实时财务</a>
        <a href="toGeRenZhongXinShouYe">账户信息</a>
        <a href="#" style="margin-right:0;">关于我们</a>
    </div>
</div>
<!--banner------------------------------------------------------------------------------------------------------------>
</footer>