<!doctype html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>贷款选择页面</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- <link rel="stylesheet/less" type="text/css" href="css/style.less" /> -->
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/all.js"></script>
<link rel="stylesheet" type="text/css" href="css/style1.css">
<script type="text/javascript" src="js/script.js"></script>


</head>

<body>
<!-- header start -->
<div class="zxcf_top_wper">
	<div class="zxcf_top px1000 clearfix">
		 <div class="zxcf_top_l fl">
		    <img src="images/zxcf_phone.png" alt="">
		    400-027-0101(工作时间9:00-17:30)
		    <a href="#"><img src="images/zxcf_weixin.png" alt=""></a>
		    <a href="#"><img src="images/zxcf_sina.png" alt=""></a>
		    <a href="#"><img src="images/zxcf_qq.png" alt=""></a>
		 </div>
		 <div class="zxcf_top_r fr">
		 	<a href="login.html" class="curspan">立即登录</a>
		 	<span>|</span>
		 	<a href="register.html">免费注册</a>
		 	<span>|</span>
		 	<a href="problem.html">常见问题</a>
		 </div>
	</div>
</div>
<!-- end top -->
<div class="zxcf_nav_wper">
	<div class="zxcf_nav clearfix px1000">
		 <div class="zxcf_nav_l fl"><img src="images/zxcf_logo.png" alt=""></div>
		 <div class="zxcf_nav_r fr">
		 	<img src="images/zxcf_perinfo.png" alt="">
		 	<span>我的账户
		 	<img src="images/zxcf_icon01.png" alt=""></span>
		 	<ul class="zxcf_perinfo" style="display:none;">
		 	</ul>
		 </div>
	</div>
</div>
<div class="zxcf_menu_wper">
	<div class="zxcf_menu px1000">
		<a href="toIndex" class="zm_cura">首页</a>
		<a href="toInvest">我要投资</a>
		<a href="toBorrow">我要借款</a>
		<a href="#">实时财务</a>
		<a href="toNoticelist">账户信息</a>
		<a href="#" style="margin-right:0;">关于我们</a>
	</div>
</div>
<!-- end  -->
<div class="invest_con_wper">
	  <div class="invest_con px1000">
	  	     <div class="product_choose">
	  	     	    <h2 class="product_tit clearfix">
	  	     	       <div class="clearfix fl">
	  	     	       <span class="product_curspan"><img src="images/invest_pic02.png"> 项目列表</span>
	  	     	       </div>
	  	     	    </h2>

	  	     	    	  	   <ul class="select">
	  	     	    	  	   	<li class="select-list">
	  	     	    	  	   		<dl id="select1">
	  	     	    	  	   			<dt>项目期限：</dt>
	  	     	    	  	   			<dd class="select-all selected"><a href="#">不限</a></dd>
	  	     	    	  	   			<dd><a href="#">1-3个月</a></dd>
	  	     	    	  	   			<dd><a href="#">4-6个月</a></dd>
	  	     	    	  	   			<dd><a href="#">7-12个月</a></dd>
	  	     	    	  	   		</dl>
	  	     	    	  	   	</li>
	  	     	    	  	   	<li class="select-list">
	  	     	    	  	   		<dl id="select2">
	  	     	    	  	   			<dt>项目状态：</dt>
	  	     	    	  	   			<dd class="select-all selected"><a href="#">不限</a></dd>
	  	     	    	  	   			<dd><a href="#">所有借款</a></dd>
	  	     	    	  	   			<dd><a href="#">正在招标的借款</a></dd>
	  	     	    	  	   			<dd><a href="#">已成功借款</a></dd>
	  	     	    	  	   			<dd><a href="#">已完成借款</a></dd>
	  	     	    	  	   		</dl>
	  	     	    	  	   	</li>
	  	     	    	  	   	<li class="select-list">
	  	     	    	  	   		<dl id="select3">
	  	     	    	  	   			<dt>项目收益：</dt>
	  	     	    	  	   			<dd class="select-all selected"><a href="#">不限</a></dd>
	  	     	    	  	   			<dd><a href="#">5%以下</a></dd>
	  	     	    	  	   			<dd><a href="#">6%-10%</a></dd>
	  	     	    	  	   			<dd><a href="#">11%-15%</a></dd>
	  	     	    	  	   		</dl>
	  	     	    	  	   	</li>
								<li class="select-list">
									<dl id="select4">
										<dt>项目类型：</dt>
										<dd class="select-all selected"><a href="#">不限</a></dd>
										<dd><a href="#">信用标</a></dd>
										<dd><a href="#">抵押标</a></dd>
									</dl>
								</li>
	  	     	    	  	   	<li class="select-result" style="display:none" >
	  	     	    	  	   		<dl>
	  	     	    	  	   			<dt>已选条件：<input type="text" class="count"></dt>
	  	     	    	  	   			<dd class="select-no">暂时没有选择过滤条件</dd>
	  	     	    	  	   		</dl>
	  	     	    	  	   	</li>
	  	     	    	  	   </ul>

	  	     <!-- end block -->
	  	    <h3 class="sort_tit mt30"><em>排序</em>
	  	    <span>综合排序</span>
	  	    <span>收益率<img src="images/invest_jiantou.png" alt=""></span>
	  	    <span>发布时间<img src="images/invest_jiantou.png" alt=""></span>
	  	    <span>项目期限<img src="images/invest_jiantou.png" alt=""></span>
	  	    </h3>

				 <div id="tby"></div>

	  	             <!-- pagelink -->
	  	              <p class="pagelink">
	  	                 <a href="javascript:lasta()" id="shang"  >上一页</a>
	  	                 <a href="javascript:next()" id="xia" >下一页</a>
	  	              </p>
	  	             <!-- pagelink end -->
	  	            
	  	    </div>
	  </div>
</div>
<!-- footer start -->
<div class="zscf_aboutus_wper">
	  <div class="zscf_aboutus px1000 clearfix">
	  	    <div class="zscf_aboutus_l fl">
	  	    	   <ul class="zscf_aboutus_lul clearfix">
	  	    	   	  <li class="pt10"><a href="#"><img src="images/app.png" alt=""></a>
	  	    	   	  </li>
	  	    	   	  <li>
	  	    	   	  <p class="pb20">服务热线</p>
	  	    	   	  <strong>400-027-0101</strong>
	  	    	   	  </li>
	  	    	   	  <li>
	  	    	   	  	  <p class="pb10 linkpic">
	  	    	   	  	     <a href="#"><img src="images/ft_sina.png" alt=""></a>
	  	    	   	  	     <a href="#"><img src="images/ft_weixin.png" alt=""></a>
	  	    	   	  	     <a href="#"><img src="images/ft_erji.png" alt=""></a>
	  	    	   	  	  </p>
	  	    	   	  	  <p><a href="#">kefu@zhongxincaifu.com</a></p>
	  	    	   	  </li>
	  	    	   </ul>
	  	    </div>
	  	    <!-- end left -->
	  	    <div class="zscf_aboutus_r fl clearfix">
	  	    	 <a href="#" class="fl ft_ewm"><img src="images/ft_erweima.png" alt=""></a>
	  	    	 <ul class="fl clearfix">
	  	    	 	<li><a href="#">联系我们</a></li>
	  	    	 	<li><a href="#">我要融资</a></li>
	  	    	 	<li><a href="#">帮助中心</a></li>
	  	    	 	<li><a href="#">友情链接</a></li>
	  	    	 	<li><a href="#">招贤纳士</a></li>
	  	    	 	<li><a href="#">收益计算器</a></li>
	  	    	 </ul>
	  	    </div>
	  	    <!-- end right -->


	  </div>
</div>

<div class="zscf_bottom_wper">
	<div class="zscf_bottom px1000 clearfix">
		  <p class="fl">© 2014 zhongxincaifu &nbsp;  &nbsp;&nbsp;   中兴财富金融信息服务股份有限公司 &nbsp;&nbsp;&nbsp;    来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
		  <p class="fr">
		    <a href="#"><img src="images/360.png" alt=""></a>
		    <a href="#"><img src="images/kexin.png" alt=""></a>
		    <a href="#"><img src="images/norton.png" alt=""></a>
		  </p>
	</div>
</div>
</body>
<script>
	$(function(){
		 var tr = false;
          <!--获取 和 传值-->
          $(".select-list").on("click",".selected",function() {
              var fa= filtrate();
              tr = true;
              var  param = {
                  "month" :fa.month,
                  "state" :fa.state,
                  "ratio" :fa.ratio,
                  "type"  :fa.type,
                  "pageNo"  :1
              }
              getPage(param)
          });
        <!--判断第一次为空-->
        if(tr){

        }else {
            var  param = {
                "month" :"",
                "state" :"",
                "ratio" :"",
                "type"  :"",
                "pageNo" :1
            }
            getPage(param)
        }


    });
    <!-- 筛选数据 -->
    function filtrate() {
        var month = '';  //项目期限
        var state = '';  //项目状态
        var ratio = '';	 //项目收益
        var type = '';   //项目类型
            $(".select-result dl dd a").each(function(index, element) {
                if($(this).html()=='1-3个月'){
                    month = '1';
                }else if($(this).html()=='4-6个月'){
                    month = '2';
                }else if($(this).html()=='7-12个月'){
                    month = '3';
                }

                if($(this).html()=='所有借款'){
                    state = '4';
                }else if($(this).html()=='正在招标的借款'){
                    state = '5';
                }else if($(this).html()=='已成功借款'){
                    state = '6';
                }else if($(this).html()=='已完成借款'){
                    state = '7';
                }

                if($(this).html()=='5%以下'){
                    ratio = '8';
                }else if($(this).html()=='6%-10%'){
                    ratio = '9';
                }else if($(this).html()=='11%-15%'){
                    ratio = '10';
                }

                if($(this).html()=='信用标'){
                    type = '11';
                }else if($(this).html()=='抵押标'){
                    type = '12';
                }
            });
        var param = {
            "month" :month,
            "state" :state,
            "ratio" :ratio,
            "type"  :type
        }
		return param
    }
    			<!--定义初始页码-->
				var pageNo =1;
    			<!--上一页-->
				function lasta(){
				    var la = filtrate();  //调用筛选方法 获取数据

					pageNo=pageNo-1;
                    if(pageNo<1){
                        pageNo=1;
                    }
                    var param = {
                        "month" :la.month,
                        "state" :la.state,
                        "ratio" :la.ratio,
                        "type"  :la.type,
                        "pageNo":pageNo
                    }
					getPage(param)  // 把值传到后台
				}
    			<!--下一页-->
				function next() {
                    var la = filtrate(); //调用筛选方法 获取数据
                    pageNo = pageNo + 1;
                    var param = {
                        "month": la.month,
                        "state": la.state,
                        "ratio": la.ratio,
                        "type": la.type,
                        "pageNo": pageNo
                    }
                    getPage(param)// 把值传到后台
                }

   						 <!--向后台传值 获取数据 在前台拼接字符串-->
                    function getPage(param) {
                        $.ajax({
                            type: "post",
                            url: "/p2p/invest",
                            dataType: "json",
                            data: param,
                            success: function (data) {
                                $("#tby").empty();  <!-- 在次执行 清空之前数据 -->
                                if (data.inves[0] != null && data.inves[0] != '') {  <!-- 判断不能为空 -->
									var LOANSTYPE = "";
                                    var str = "";
                                    var a = "满标";
                                    var b = "立即投资";
                                    for (var i = 0; i < data.inves.length; i++) {

                                        if(data.inves[i].LOANSTYPE==1){
                                            LOANSTYPE="信用"
                                        }else{
                                            LOANSTYPE="抵押"
                                        }

                                        str += "<div class='product_list mt20'>" +
                                            "<div class='prolist_one prolist_one_bl01 mt20'>" +
                                            "<h2 class='prolist_one_tit'><span>" +LOANSTYPE+"</span>" + data.inves[i].USERNAME + "</h2>" +
                                            "<ul class='prolist_one_ul clearfix'>" +
                                            "<li>年华收益：<strong>" + data.inves[i].LOANSINTERESTRATE + '%' + "</strong><br>" +
                                            " 还款方式：" + data.inves[i].REFUNDWAY + "</li>" +
                                            "<li>贷款期数：<i>" + data.inves[i].REFUNDDEADLINE + "</i>月<br>" +
                                            "保障机构：中融兴业融资担保有限公司</li>" +
                                            "<li class='prolist_press'>募集金额：<strong>" + data.inves[i].LOANSMONEY + "</strong> 元 <br>" +
                                            "认购进度：<span class='ui-progressbar-mid ui-progressbar-mid-100'>" + Math.floor(data.inves[i].INVESTMENTAMOUNT / data.inves[i].LOANSMONEY * 100) + '%' + "</span></li>" +
                                            "<li class='prolist_btn'><a href='/p2p/toDetail?loansId="+data.inves[i].LOANSID+"&userId="+data.inves[i].USERID+" ' class='pro_btn'>" + ((data.inves[i].INVESTMENTAMOUNT / data.inves[i].LOANSMONEY * 100)==100?a:b) +"</a></li>" +
                                            "</ul>" +
                                            "</div>" +
                                            "</div>"
                                    }

                                    $("#tby").append(str);
                                    <!-- 断值  1为显示 0为隐藏  下一页按钮 -->
                                    if(data.invesCount.hi == 0){
										$("#xia").hide()
									}else if(data.invesCount.sh == 1){
                                        $("#xia").show()
									}
                                }
                            }
                        });
                    }

</script>
</html>