<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="yirenbao/css/common.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="yirenbao/css/user.css" />
<!--<script type="text/javascript" src="yirenbao/script/common.js"></script>-->
<script src="yirenbao/script/user.js" type="text/javascript"></script>
  <!------------------->
  <link rel="stylesheet" type="text/css" href="style/style.css"/>
  <!--<script type="text/javascript" src="script/javasrcipt.js"></script>-->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <link rel="stylesheet/less" type="text/css" href="css/style.less" /> -->
  <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/all.js"></script>
  <script src="js/jquery.form.js"></script>
</head>
<body>

<div class="zxcf_top_wper">
  <div class="zxcf_top px1000 clearfix">
    <div class="zxcf_top_l fl">
      <img src="images/zxcf_phone.png" alt="">
      400-027-0101(工作时间9:00-17:30)
      <a href="#"><img src="images/zxcf_weixin.png" alt=""></a>
      <a href="#"><img src="images/zxcf_sina.png" alt=""></a>
      <a href="#"><img src="images/zxcf_qq.png" alt=""></a>
    </div>
    <div class="zxcf_top_r fr">
      <a href="toLogin" class="curspan">立即登录</a>
      <span>|</span>
      <a href="toRegister">免费注册</a>
      <span>|</span>
      <a href="toproblem">常见问题</a>
    </div>
  </div>
</div>
<!-- end top -->

</div>
  <!-- end top -->
  <div class="zxcf_nav_wper">
    <div class="zxcf_nav clearfix px1000">
      <div class="zxcf_nav_l fl"><img src="images/zxcf_logo.png" alt=""></div>
      <div class="zxcf_nav_r fr">
        <img src="images/zxcf_perinfo.png" alt="">
        <span>我的账户
		 	<img src="images/zxcf_icon01.png" alt=""></span>
        <ul class="zxcf_perinfo" style="display:none;">
        </ul>
      </div>
    </div>
  </div>
  <div class="zxcf_menu_wper">
    <div class="zxcf_menu px1000">
      <a href="toIndex" class="zm_cura">首页</a>
      <a href="toInvest">我要投资</a>
      <a href="toBorrow">我要借款</a>
      <a href="#">实时财务</a>
      <a href="toGeRenZhongXinShouYe">账户信息</a>
      <a href="#" style="margin-right:0;">关于我们</a>
    </div>
  </div>
<!--个人中心-->
<div class="wrapper wbgcolor">
  <div class="w1200 personal">
    <div class="credit-ad"><img src="yirenbao/images/clist1.jpg" width="1200" height="96"></div>
    <div id="personal-left" class="personal-left">
      <ul>
        <li class="pleft-cur"><span><a href="toGeRenZhongXinShouYe"><i class="dot dot1"></i>账户总览</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="toGRZXZiJin">资金记录</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="toGRZXTouZi">投资记录</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="toGRZXHuiKuan">回款计划</a></span></li>
        <li class=""><span><a href="toGRZXKaiTong1"><i class="dot dot02"></i>开通第三方</a> </span> </li>
        <li><span><a href="toGRZXChongZhi1"><i class="dot dot03"></i>充值</a></span></li>
        <li class=""><span><a href="toGRZXTiXian1"><i class="dot dot04"></i>提现</a></span></li>
        <li style="position:relative;"> <span> <a href="toGRZXXiTongXiaoXi"><i class="dot dot08"></i>系统信息 </a> </span> </li>
        <li><span><a href="toGRZXZhangHao"><i class="dot dot09"></i>账户设置</a></span></li>
      </ul>
    </div>
    <div class="personal-main">
      <link rel="stylesheet" type="text/css" href="yirenbao/css/fileupload.less.css">
      <style type="text/css">
		.ui-fileupload-choose{
			background:none;
			width: 90px; height: 90px;
			border:0px none;
		}
		.ui-fileupload-choose input{
			width:100%;height:100%;
		}
		.ui-icon{
			background:none;
			width:0px;height:0px;
		}
	</style>
      <div class="pmain-profile" style="height:510px">
        <div class="pmain-welcome"> <span class="fl"><span id="outLogin">晚上好，</span><em th:text="${session.userName}">tg_gpdt0139</em>> 喝一杯下午茶，让心情放松一下~</span> <span class="fr">上次登录时间：
          2015-09-11 14:05:07 </span> </div>
        <div class="pmain-user">
          <div class="user-head"> <span id="clickHeadImage" class="head-img" title="点击更换头像" >
            <form  method="post" action="/p2p/fileUpload" enctype="multipart/form-data" id="form1" onsubmit="return sbt();">
              <input type="hidden" name="userPhotoUploadForm" value="userPhotoUploadForm">
              <span id="userPhotoUploadForm:photo"><img id="userPhotoUploadForm:photoImage" name="portrait" src="" alt="用户头像" style="width:88px;height:88px;z-index:0;"> <i class="headframe" style="z-index:0;"></i>-
              <div id="userPhotoUploadForm:shangchuan-btn" class="ui-fileupload ui-widget" style="z-index:0;">
                <div class="ui-fileupload-buttonbar ui-corner-top"><span class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left ui-fileupload-choose" role="button"><span class="ui-button-icon-left ui-icon ui-c ui-icon-plusthick"></span><span class="ui-button-text ui-c"></span>
                  <!--更换头像-->
                  <input type="file" id="changeHeadImg" name="file" onchange="xmTanUploadImg(this)" style="z-index:0;display:none;">
                  </span></div>
                <div class="ui-fileupload-content ui-widget-content ui-corner-bottom">
                  <table class="ui-fileupload-files">
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
              </span>
              <input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="2696547217205030168:-301641994240890871" autocomplete="off">
            </form>
            </span> <span class="head-icon"> <a href="#"><i title="第三方资金账户未认证" class="headiconbg headicon01"></i></a> <a href="#"><i class="headiconbg headicon2"></i></a> <a href="#"><i class="headiconbg headicon03"></i></a> </span> </div>
          <div class="user-info user-info1">
            <ul>
              <li>用户名<span th:text="${session.accountList.userName}">tg_gpdt0139</span></li>
              <li>安全级别<span><i class="safe-level"><i class="onlevel" style="width:40%;"></i></i></span> <a href="#">[低]</a></li>
              <li>您还未开通第三方支付账户，请 <a class="pmain-log" href="#">立即开通</a>以确保您的正常使用和资金安全。 </li>
            </ul>
          </div>
        </div>
        <div class="pmain-money">
          <ul>
            <li class="none"><span><em>账户总额</em><i id="zhze" class="markicon"></i><span class="arrow-show1" style="display:none;">可用余额+待收本息</span><span class="icon-show1" style="display:none;"></span></span> <span class="truemoney"><i class="f26 fb" th:text="${session.accountList.ACCOUNMONEY}"></i>.00元</span> </li>
            <li><span><em>可用余额</em><i id="kyje" class="markicon"></i><span class="arrow-show2" style="display: none;">已到账的投资收益+未到账的投资收益</span><span class="icon-show2" style="display: none;"></span></span> <span class="truemoney"><i class="f26 fb " th:text="${session.accountList.AVAILMONEY}" id="canuse"> </i> .00元</span> </li>
            <li><span><em>待收利息</em><i id="dsbx" class="markicon"></i><span class="arrow-show3" style="display: none;">未到账的投资项目的本金、利息总额</span><span class="icon-show3" style="display: none;"></span></span> <span class="truemoney"><i class="f26 fb" th:text="${session.accountList.AWAITINTEREST}" id="interest"></i>.00元</span> </li>
            <li><span><em>待收本金</em><i id="dsbj" class="markicon"></i><span class="arrow-show4" style="display: none;">已到账的投资收益+未到账的投资收益</span><span class="icon-show4" style="display: none;"></span></span> <span class="truemoney"><i class="f26 fb" th:text="${session.accountList.AWAITMONEY}" id="capital"> </i>.00元</span> </li>
            <li><span><em>待还金额</em><i id="dhje" class="markicon"></i><span class="arrow-show5" style="display: none;">已到账的投资收益+未到账的投资收益</span><span class="icon-show5" style="display: none;"></span></span> <span class="truemoney"><i class="f26 fb " th:text="${session.accountList.MONEY}" id="bepaid"></i>.00元</span> </li>
            <li><span><em>信用额度</em><i id="xyed" class="markicon"></i><span class="arrow-show7" style="display: none;">已到账的投资收益+未到账的投资收益</span><span class="icon-show7" style="display: none;"></span></span> <span class="truemoney"><i class="f26 fb " th:text="${session.accountList.LINEOFCREDIT}" id="creditline"></i>.00元</span> </li>
          </ul>
        </div>
      </div>
      <script type="text/javascript">
          //选择图片，马上预览
          function xmTanUploadImg(obj) {
              var file = obj.files[0];
              console.log(obj);console.log(file);
              // console.log("file.size = " + file.size);
              var reader = new FileReader();
              reader.onloadstart = function (e) {
                  console.log("开始读取....");
              };
              reader.onprogress = function (e) {
                  console.log("正在读取中....");
              };
              reader.onabort = function (e) {
                  console.log("中断读取....");
              };
              reader.onerror = function (e) {
                  console.log("读取异常....");
              };
              reader.onload = function (e) {
                  console.log("成功读取....");
                  var img = document.getElementById("userPhotoUploadForm:photoImage");
                  img.src = e.target.result;
              };
              reader.readAsDataURL(file);
              $("#form1").ajaxSubmit(function (message) {
                  //对于表单提交成功后处理，message为提交页面/p2p/fileUpload的返回内容
                  console.log(message+"回调ajax的form表单");
                  var param = {imgName:message};
                  $.post('/p2p/addImg',param,function(data){
                          console.log(data.msg);
                  });

              });
              return false;
          }

			//<![CDATA[
			       $(function(){
                       //加载用户头像方法
			           $.ajax({
                           url:"/p2p/getImg",
                           type:"post",
                           dataType:"json",
                           success:function (data) {
                               console.log(data.msg);
                               var pre="/p2p/showFtp?fileName=";
                               //将请求回调回来的图片名称和ftp请求图片方法拼接一起赋给图片的src属性
                               Ipath=pre+data.msg;
                               document.getElementById("userPhotoUploadForm:photoImage").setAttribute("src",Ipath);
                           }
                       });


			    	   $("#clickHeadImage").click(function(){
			    		   $(this).find('span').removeClass('ui-state-hover');
			    		   document.getElementById("changeHeadImg").click();
			    	   });
			    	   var safeLevel = "低";
			    	   if(safeLevel=="高"){
			    		   $(".pmain-user .user-info li .safe-level .onlevel").css("background-color","#f1483c");
			    	   }
			    	   
			    	   $("#clickHeadImage span").hover(function(){
			    		   $(this).removeClass('ui-state-hover');
			    	   });
			    	   
			    	   var myDate = new Date();
			    	   var h = myDate.getHours();
			    	   if(h>11 && h<19){
			    	   	 $("#outLogin").html("下午好，");
			    	   }else if(h>18){
			    	   	 $("#outLogin").html("晚上好，");
			    	   }else{
			    	   	 $("#outLogin").html("上午好，");
			    	   }
			       });
			//]]>           
		</script>
      <div class="pmain-connent">
        <div id="pmain-contab" class="pmain-contab">
          <ul>
            <li id="pmain-contab1" class="on">回款计划</li>
            <li id="pmain-contab2">资金记录</li>
            <li id="pmain-contab3">投资记录</li>
            <li class="li-other"></li>
          </ul>
        </div>
        <div class="pmain-conmain" id="pmain-conmain">
          <div class="pmain-conmain1">
            <div class="pmain-contitle"> <span class="pmain-titledate">计划回款时间</span><span class="pmain-titleproject">项目</span><span class="pmain-titletype">类型</span><span class="pmain-titlemoney">回款金额</span> </div>
            <ul style="float:left;">
              <li><span class="pmain-titledate">2015-10-20</span><span class="pmain-titleproject">宝马汽车借贷业务</span><span class="pmain-titletype">债权转让</span><span class="pmain-titlemoney">10.00</span></li>
              <li><span class="pmain-titledate">2015-10-20</span><span class="pmain-titleproject">宝马汽车借贷业务</span><span class="pmain-titletype">债权转让</span><span class="pmain-titlemoney">10.00</span></li>
              <li><span class="pmain-titledate">2015-10-20</span><span class="pmain-titleproject">宝马汽车借贷业务</span><span class="pmain-titletype">债权转让</span><span class="pmain-titlemoney">10.00</span></li>
              <li><span class="pmain-titledate">2015-10-20</span><span class="pmain-titleproject">宝马汽车借贷业务</span><span class="pmain-titletype">债权转让</span><span class="pmain-titlemoney">10.00</span></li>
              <li><span class="pmain-titledate">2015-10-20</span><span class="pmain-titleproject">宝马汽车借贷业务</span><span class="pmain-titletype">债权转让</span><span class="pmain-titlemoney">10.00</span></li>
              <li><span class="pmain-titledate">2015-10-20</span><span class="pmain-titleproject">宝马汽车借贷业务</span><span class="pmain-titletype">债权转让</span><span class="pmain-titlemoney">10.00</span></li>
              <!--<div style=" width:
										760px;height:200px;padding-top:100px; text-align:center;color:#d4d4d4; font-size:16px;">
										 <img src="images/nondata.png" width="60" height="60"><br><br>
										   暂无回款计划</div>-->
            </ul>
            <div class="pmain-morebtn" style="border-top:0;margin-top:0"></div>
          </div>
          <div class="pmain-conmain2" style=" display:none;">
            <div class="pmain-contitle"> <span class="pmain-titledate">交易时间</span><span class="pmain-w100">交易类型</span><span class="pmain-w120">交易金额</span><span class="pmain-w120">余额</span><span class="pmain-w200">备注</span> </div>
            <ul style="float:left;">
              <li><span class="pmain-titledate">2015-10-20</span><span class="pmain-w100">债权转让</span><span class="pmain-w120 pmain-money">10.00</span><span class="pmain-w120 pmain-money">10.00</span><span class="pmain-w200">备注</span></li>
              <!--<div style=" width:760px;height:200px;padding-top:100px; text-align:center;color:#d4d4d4; font-size:16px;">
										 <img src="images/nondata.png" width="60" height="60"><br><br>
										   暂无资金记录</div>-->
            </ul>
            <div class="pmain-morebtn" style="border-top:0;margin-top:0"></div>
          </div>
          <div class="pmain-conmain3" style=" display:none;">
            <div class="pmain-contitle"> <span class="pmain-titledate">交易时间</span><span class="pmain-w210">项目</span><span class="pmain-w80">状态</span><span class="pmain-whb200">我的投资</span><span class="pmain-whb110">我的收益</span> </div>
            <ul style="float:left;">
              <li><span class="pmain-titledate">2015-10-20</span><span class="pmain-w210">债权转让</span><span class="pmain-w80 pmain-money">10.00</span><span class="pmain-whb200 pmain-money">10.00</span><span class="pmain-whb110">备注</span></li>
              <!--	<div style=" width:760px;height:200px;padding-top:100px; text-align:center;color:#d4d4d4; font-size:16px;">
										    <img src="images/nondata.png" width="60" height="60"><br><br>
										   暂无投资记录</div>-->
            </ul>
            <div class="pmain-morebtn" style="border-top:0;margin-top:0"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!--网站底部-->
<div class="footer">
  <div class="foot">
    <article>
      <div class="friend">
        <a href="#">关于我们</a>
        <span></span>
        <a href="#">法律声明</a>
        <span></span>
        <a href="#">媒体报道</a>
        <span></span>
        <a href="#">团队介绍</a>
        <span></span>
        <a href="#">帮助中心</a>
        <span></span>
        <a href="#">友情链接</a>
      </div>
      <figure></figure>
      <p>© 2016 北京乐融多源信息技术有限公司 京ICP证12049103号-3 京公网安备11010502025440</p>
      <div class="certificate"></div>
    </article>
    <aside>
      <p>联系我们 <span>9:00 - 21:00</span> </p>
      <h1>400-068-1176</h1>
      <div class="customer"><a href="#">在线客服</a></div>
      <div class="customer"><a href="#">客服邮箱</a></div>
    </aside>
  </div>

</div>
</body>
</html>
