<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>

  <meta name="description" content="" />
  <link href="yirenbao/css/common.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="yirenbao/css/user.css" />
  <script type="text/javascript" src="yirenbao/script/jquery.min.js"></script>
  <!--<script type="text/javascript" src="yirenbao/script/common.js"></script>-->
  <script src="yirenbao/script/user.js" type="text/javascript"></script>
  <!------------------->
  <link rel="stylesheet" type="text/css" href="style/style.css"/>
  <!--<script type="text/javascript" src="script/javasrcipt.js"></script>-->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <link rel="stylesheet/less" type="text/css" href="css/style.less" /> -->
  <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/all.js"></script>
  <!-- 引入样式 -->
  <script type="text/javascript" src="/p2p/js/vue.js"></script>
  <script type="text/javascript" src="/p2p/js/axios.min.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="js/moment.min.js"></script>
</head>
<body>

<div class="zxcf_top_wper">
  <div class="zxcf_top px1000 clearfix">
    <div class="zxcf_top_l fl">
      <img src="images/zxcf_phone.png" alt="">
      400-027-0101(工作时间9:00-17:30)
      <a href="#"><img src="images/zxcf_weixin.png" alt=""></a>
      <a href="#"><img src="images/zxcf_sina.png" alt=""></a>
      <a href="#"><img src="images/zxcf_qq.png" alt=""></a>
    </div>
    <div class="zxcf_top_r fr">
      <a href="toLogin" class="curspan">立即登录</a>
      <span>|</span>
      <a href="toRegister">免费注册</a>
      <span>|</span>
      <a href="toproblem">常见问题</a>
    </div>
  </div>
</div>
<!-- end top -->

</div>
<!-- end top -->
<div class="zxcf_nav_wper">
  <div class="zxcf_nav clearfix px1000">
    <div class="zxcf_nav_l fl"><img src="images/zxcf_logo.png" alt=""></div>
    <div class="zxcf_nav_r fr">
      <img src="images/zxcf_perinfo.png" alt="">
      <span>我的账户
		 	<img src="images/zxcf_icon01.png" alt=""></span>
      <ul class="zxcf_perinfo" style="display:none;">
      </ul>
    </div>
  </div>
</div>
<div class="zxcf_menu_wper">
  <div class="zxcf_menu px1000">
    <a href="toIndex" class="zm_cura">首页</a>
    <a href="toInvest">我要投资</a>
    <a href="toBorrow">我要借款</a>
    <a href="#">实时财务</a>
    <a href="toGeRenZhongXinShouYe">账户信息</a>
    <a href="#" style="margin-right:0;">关于我们</a>
  </div>
</div>
<!--个人中心-->
<div class="wrapper wbgcolor">
  <div class="w1200 personal">
    <div class="credit-ad"><img src="yirenbao/images/clist1.jpg" width="1200" height="96"></div>
    <div id="personal-left" class="personal-left">
      <ul>
        <li><span><a href="toGeRenZhongXinShouYe"><i class="dot dot01"></i>账户总览</a></span></li>
        <li><span><a href="toGRZXZiJin"><i class="dot dot02"></i>资金记录</a></span></li>
        <li class="pleft-cur"><span><a href="toGRZXTouZi"><i class="dot dot05"></i>投资记录</a></span></li>
        <!--<li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="toGRZXHuiKuan"><i class="dot dot06"></i>回款计划</a></span></li>-->
        <li><span><a href="toGRZXChongZhi1"><i class="dot dot03"></i>充值</a></span></li>
        <li class=""><span><a href="toGRZXTiXian1"><i class="dot dot04"></i>提现</a></span></li>
        <li style="position:relative;"> <span> <a href="toGRZXXiTongXiaoXi"><i class="dot dot08"></i>系统信息 </a> </span> </li>
        <li><span><a href="toGRZXZhangHao"><i class="dot dot09"></i>账户设置</a></span></li>
      </ul>
    </div>
    <style type="text/css">
		.invest-tab .on  a{color:#fff;}
	</style>
    <div class="personal-main">
      <div class="personal-investnote">
        <h3><i>投资记录</i></h3>
        <div class="investnote-money"> <span><b class="fb">累计投资</b><br>
          <i th:text="${sumInvestment==null?'0.00':sumInvestment}">0.00</i> 元 </span> <span><b class="fb">累计收益</b><br>
          <i class="c-pink" th:text="${accruedincome==null?'0.00':accruedincome}">0.00</i> 元 </span> <span><b class="fb">待收本金</b><br>
          <i th:text="${awaitmoney==null?'0.00':awaitmoney}">0.00</i> 元 </span> <span class="none"><b class="fb">待收收益</b><br>
          <i th:text="${awaitinterest==null?'0.00':awaitinterest}">0.00</i> 元 </span> </div>
          <script type="text/javascript">clearPage = function() {PrimeFaces.ab({source:'form:j_idt82',formId:'form',process:'form:j_idt82',params:arguments[0]});}</script>
        <div id="list" style="width: 906px;">
          <!--<el-row>-->
            <!--<div class="invest-tab">-->
                <!--<ul>-->
                  <!--<li class="on"><span><a href="javascript:void(0);" @click="tbzing" title="投标中">投标中 </a> </span> </li>-->
                  <!--<li><a href="javascript:void(0);" @click="hkzing" title="回款中">回款中 </a> </li>-->
                  <!--<li><a href="javascript:void(0);" @click="ended" title="已结束">已结束 </a> </li>-->
                <!--</ul>-->
            <!--</div>-->
          <!--</el-row>-->
          <el-row>
            <el-button  :type="button1" @click="tbzing">投标中</el-button>
            <el-button  :type="button2" @click="hkzing">回款中</el-button>
            <el-button  :type="button3" @click="ended">已结束 </el-button>
          </el-row>



            <!--<div class="investnote-list">-->
              <!--<div class="investnote-contitle"> <span class="investnote-w1 fb">交易时间</span> <span class="investnote-w2 fb">项目</span> <span class="investnote-w3 fb">状态</span> <span class="investnote-hbw4 fb">我的投资</span> <span class="investnote-hbw5 fb">我的收益</span> <span class="investnote-hbw6 fb">操作</span> </div>-->
              <!--<ul>-->
                <!--<li><span class="investnote-w1">2015-10-1</span><span class="investnote-w2">债权转让</span><span class="investnote-w3">已还款</span><span class="investnote-hbw4">12000.00</span> <span class="investnote-hbw5">12000.00</span> <span class="investnote-hbw6"><a href="#">删除</a></span></li>-->
                <!--<li><span class="investnote-w1">2015-10-1</span><span class="investnote-w2">债权转让</span><span class="investnote-w3">已还款</span><span class="investnote-hbw4">12000.00</span> <span class="investnote-hbw5">12000.00</span> <span class="investnote-hbw6"><a href="#">删除</a></span></li>-->
                <!--<li><span class="investnote-w1">2015-10-1</span><span class="investnote-w2">债权转让</span><span class="investnote-w3">已还款</span><span class="investnote-hbw4">12000.00</span> <span class="investnote-hbw5">12000.00</span> <span class="investnote-hbw6"><a href="#">删除</a></span></li>-->
                <!--<li><span class="investnote-w1">2015-10-1</span><span class="investnote-w2">债权转让</span><span class="investnote-w3">已还款</span><span class="investnote-hbw4">12000.00</span> <span class="investnote-hbw5">12000.00</span> <span class="investnote-hbw6"><a href="#">删除</a></span></li>-->
                <!--&lt;!&ndash;<div style=" width:760px;height:200px;padding-top:100px; text-align:center;color:#d4d4d4; font-size:16px;">&ndash;&gt;-->
                                   <!--&lt;!&ndash;<img src="images/nondata.png" width="60" height="60"><br><br>&ndash;&gt;-->
                                     <!--&lt;!&ndash;暂无投资记录</div>&ndash;&gt;-->
              <!--</ul>-->
            <!--</div>-->
          <el-table
                  :data="tableData"
                  style="width:100%"
                  :default-sort = "{prop: 'INVESTMENTDATE', order: 'descending'}"
          >
            <!--<el-table-column-->
            <!--多选框-->
            <!--type="selection">-->
            <!--</el-table-column>-->
            <el-table-column
                    prop="INVESTMENTDATE"
                    label="交易时间"
                    :formatter="dateFormat"
                    fit="true">
            </el-table-column>
            <el-table-column
                    prop="LOANSTYPENAME"
                    label="项目类型"
                    sortable
                    fit="true">
            </el-table-column>
            <el-table-column
                    label="状态"
                    fit="true">
              <template slot-scope="scope">
                <el-tag type="success">{{scope.row.LOANSSTATE | formatState}}</el-tag>
              </template>
            </el-table-column>
            <el-table-column
                    prop="INVESTMENTMONEY"
                    label="我的投资">
            </el-table-column>
            <el-table-column v-if="isShow"
                    label="收益"
                    fit="true">
              <template slot-scope="scope">
                <el-tag type="warning">{{scope.row.EARNINGS | formatStata}}</el-tag>
              </template>
            </el-table-column>
            <el-table-column v-if="!isShow"
                    label="预期收益"
                    fit="true">
              <template slot-scope="scope">
                <el-tag type="warning">{{scope.row.EARNINGS | formatStata}}</el-tag>
              </template>
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="120">
              <template slot-scope="scope">
                <el-button
                        @click="ShowDetail(scope.row)"
                        type="info"
                        size="small">
                  查看详情
                </el-button>
              </template>
            </el-table-column>
          </el-table>

          <!--底部分页-->
          <div class="inline" style="text-align: center;margin-top: 13px">
            <el-pagination
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10,20, 30, 40]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="tableTotal">
            </el-pagination>
          </div>
        </div>
        <script>
            new Vue({
                el: "#list",
                data:{
                    isShow:true,
                    tableData: [],
                    tableTotal:100,
                    pageSize:10,
                    currentPage:1,
                    button1:'primary',
                    button2:'',
                    button3:'',
                    loansstate:2
                },
                created: function(){
                    //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
                    var _self = this;
                    var start = (this.currentPage-1)*this.pageSize;
                    var end = this.currentPage*this.pageSize+1;
                    var searchForm = {
                        'start': start,
                        'end': end,
                        'loansstate':2
                        //  'loansId': this.searchForm.loansId,
                        //   'userName': this.searchForm.userName,
                        // 'loansType': this.searchForm.loansType
                    };
                    axios.post('investList',searchForm).then(function(res){
                        _self.tableData = res.data.data;
                        _self.tableTotal = res.data.total;
                    })
                },
                filters: {
                    formatState: function (status) {
                        console.log(status + "-----");
                        const statusMap = {
                            2: '投标中'
                        };
                        return statusMap[status]
                    },
                    formatStata: function (val) {
                        return val==0? '暂无收益' : val;
                    }
                },
                methods: {
                    //时间格式化
                    dateFormat:function(row, column) {
                        var date = row[column.property];
                        if (date == undefined) {
                            return "";
                        }
                        return moment(date).format("YYYY-MM-DD HH:mm:ss");
                    },
                    loadingData: function (loansstate) {
                        var _this = this;  //很重要！！
                        var start = (this.currentPage - 1) * this.pageSize;
                        var end = this.currentPage * this.pageSize+1;
                        console.log(start);
                        console.log(end);
                        var operationType = this.handleType;
                        var operationDate = this.handleDate;
                        var searchForm = {
                            'start': start,
                            'end': end,
                            'loansstate':loansstate
                            //  'loansId': this.searchForm.loansId,
                            //   'userName': this.searchForm.userName,
                        };
                        axios.post('investList',searchForm)
                            .then(function (res) {
                                console.log(res);
                                _this.tableData = res.data.data;
                                _this.tableTotal = res.data.total;
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    },
                    //查看详情
                    ShowDetail:function(row){
                        var loansId = row.LOANSID;
                        var userId = row.USERID;
                        var url="/p2p/toDetail?loansId="+loansId+"&userId="+userId;
                        location.href=url;
                        // var _self = this;
                        //     var url="deleteRows/"+row.MONEYRECORD;
                        //     axios.get(url).then(function (res) {
                        //         console.log(res.data.msg);
                        //     });
                    },
                    //分页大小修改事件
                    pageSizeChange: function (val) {
                        this.pageSize = val;
                        //var _self = this;
                        this.loadingData(this.loansstate);//重新加载数据
                    },
                    //当前页数修改事件
                    currentPageChange:function(val) {
                        this.currentPage = val;
                        //var _self = this;
                        this.loadingData(this.loansstate);//重新加载数据
                    },
                    tbzing:function () {
                        this.isShow=true;
                        this.button1='primary';
                        this.button2='';
                        this.button3='';
                        this.loadingData(2);
                    },
                    hkzing:function () {
                        this.isShow=false;
                        this.button1='';
                        this.button2='primary';
                        this.button3='';
                        this.loadingData(4);
                    },
                    ended:function () {
                        this.button1='';
                        this.button2='';
                        this.button3='primary';
                        this.loadingData(11);
                    }

                }
            })
        </script>


      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!--网站底部-->
<div class="footer">
  <div class="foot">
    <article>
      <div class="friend">
        <a href="#">关于我们</a>
        <span></span>
        <a href="#">法律声明</a>
        <span></span>
        <a href="#">媒体报道</a>
        <span></span>
        <a href="#">团队介绍</a>
        <span></span>
        <a href="#">帮助中心</a>
        <span></span>
        <a href="#">友情链接</a>
      </div>
      <figure></figure>
      <p>© 2016 北京乐融多源信息技术有限公司 京ICP证12049103号-3 京公网安备11010502025440</p>
      <div class="certificate"></div>
    </article>
    <aside>
      <p>联系我们 <span>9:00 - 21:00</span> </p>
      <h1>400-068-1176</h1>
      <div class="customer"><a href="#">在线客服</a></div>
      <div class="customer"><a href="#">客服邮箱</a></div>
    </aside>
  </div>
</div>
</body>
</html>
