<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <script type="text/javascript" src="js/jquery3.3.1.min.js"></script>
  <link href="yirenbao/css/common.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="yirenbao/css/user.css" />
  <script type="text/javascript" src="yirenbao/script/jquery.min.js"></script>
  <!--<script type="text/javascript" src="yirenbao/script/common.js"></script>-->

  <script type="text/javascript" src="layui/layui.js"></script>

  <script src="yirenbao/script/user.js" type="text/javascript"></script>
  <script type="text/javascript" src="js/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="js/dist/sweetalert.css">
  <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="style/style.css"/>
  <!--<script type="text/javascript" src="script/javasrcipt.js"></script>-->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <link rel="stylesheet/less" type="text/css" href="css/style.less" /> -->
  <script type="text/javascript" src="js/all.js"></script>
  <script type="text/javascript" src="js/bankCard/bankCardAttribution.js"></script>

</head>
<body>

<div class="zxcf_top_wper">
  <div class="zxcf_top px1000 clearfix">
    <div class="zxcf_top_l fl">
      <img src="images/zxcf_phone.png" alt="">
      400-027-0101(工作时间9:00-17:30)
      <a href="#"><img src="images/zxcf_weixin.png" alt=""></a>
      <a href="#"><img src="images/zxcf_sina.png" alt=""></a>
      <a href="#"><img src="images/zxcf_qq.png" alt=""></a>
    </div>
    <div class="zxcf_top_r fr">
      <a href="toLogin" class="curspan">立即登录</a>
      <span>|</span>
      <a href="toRegister">免费注册</a>
      <span>|</span>
      <a href="toproblem">常见问题</a>
    </div>
  </div>
</div>
<!-- end top -->

</div>
<!-- end top -->
<div class="zxcf_nav_wper">
  <div class="zxcf_nav clearfix px1000">
    <div class="zxcf_nav_l fl"><img src="images/zxcf_logo.png" alt=""></div>
    <div class="zxcf_nav_r fr">
      <img src="images/zxcf_perinfo.png" alt="">
      <span>我的账户
		 	<img src="images/zxcf_icon01.png" alt=""></span>
      <ul class="zxcf_perinfo" style="display:none;">
      </ul>
    </div>
  </div>
</div>
<div class="zxcf_menu_wper">
  <div class="zxcf_menu px1000">
    <a href="toIndex" class="zm_cura">首页</a>
    <a href="toInvest">我要投资</a>
    <a href="toBorrow">我要借款</a>
    <a href="#">实时财务</a>
    <a href="toGeRenZhongXinShouYe">账户信息</a>
    <a href="#" style="margin-right:0;">关于我们</a>
  </div>
</div>
<!--个人中心-->
<div class="wrapper wbgcolor">
  <div class="w1200 personal">
    <div class="credit-ad"><img src="yirenbao/images/clist1.jpg" width="1200" height="96"></div>
    <div id="personal-left" class="personal-left">
      <ul>
        <li><span><a href="toGeRenZhongXinShouYe"><i class="dot dot01"></i>账户总览</a></span></li>
        <li><span><a href="toGRZXZiJin"><i class="dot dot02"></i>资金记录</a></span></li>
        <li><span><a href="toGRZXTouZi"><i class="dot dot05"></i>投资记录</a></span></li>
        <!--<li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="toGRZXHuiKuan"><i class="dot dot06"></i>回款计划</a></span></li>-->
        <li class="pleft-cur"><span><a href="toGRZXChongZhi1"><i class="dot dot03"></i>充值</a></span></li>
        <li class=""><span><a href="toGRZXTiXian1"><i class="dot dot04"></i>提现</a></span></li>
        <li style="position:relative;"> <span> <a href="toGRZXXiTongXiaoXi"><i class="dot dot08"></i>系统信息 </a> </span> </li>
        <li><span><a href="toGRZXZhangHao"><i class="dot dot09"></i>账户设置</a></span></li>
      </ul>
    </div>
    <label id="typeValue" style="display:none;"> </label>
    <script>
      //layui监听
        layui.use('layer', function(){
            var layer = layui.layer;
        });
        $(function(){
            console.log(bankCardAttribution('6228482399519775674'));
            console.log("6228482399519775674");
		    $('.quick-tit').click(function(){
		      
		      $(this).addClass('pay-cur');
		      $(this).siblings().removeClass('pay-cur');
		      $('.quick-main').show();
		      $('.online-main').hide();
		      
		      $(".pay-tipcon").hide();
		      $(".pay-tipcon2").show();

		    })

		    $('.online-tit').click(function(){
		      
		      $(this).addClass('pay-cur');
		      $(this).siblings().removeClass('pay-cur');
		      $('.quick-main').hide();
		      $('.online-main').show();

		      $(".pay-tipcon2").hide();
		      $(".pay-tipcon").show();
		    })
	  });
		//<![CDATA[
			function showSpan(op){
				$("body").append("<div id='mask'></div>");
				$("#mask").addClass("mask").css("display","block");
	
				$("#"+op).css("display","block");
			}
	
			function displaySpan(op){
				$("#mask").css("display","none");
				$("#"+op).css("display","none");
			}
		//]]>
		</script>
    <script>
			//<![CDATA[
			function checkRecharge() {
				var moneyRegex="^(([1-9]+[0-9]*)|((([1-9]+[0-9]*)|0)\\.[0-9]{1,2}))$";
				var money = $("#recharge\\:actualMoney").val();
				var nullFlag=(money=="")||money<=0;
				var numberFlag=isNaN(money);
				//如果输入为空
				if(nullFlag)
				{
					var $span = "<em></em>请输入金额";
					$("#actualMoneyErrorDiv").html($span);
					return false;
				}
				else
				{
					$("#actualMoneyErrorDiv").html("");
				}
				//如果输入的不是数字
				if(numberFlag)
				{
					var $span = "<em></em>请输入数字</span>";
					$("#actualMoneyErrorDiv").html($span);
					return false;
				}
				else
				{
					$("#actualMoneyErrorDiv").html("");
				}
				//输入金额是否合法
				var moneyPattern = new RegExp(moneyRegex);
		    	var legalFlag=moneyPattern.test(money);
				if(!legalFlag)
				{
					var $span = "<em></em>金额必须大于0且为整数或小数，小数点后不超过2位</span>";
					$("#actualMoneyErrorDiv").html($span);
					return false;		
				}
				else
				{
					$("#actualMoneyErrorDiv").html("");
				}
				return true;
			}
			function validateAgree()
			{
				var $checkname=$("#bank-check").children("b").hasClass("selected");
				if(!($checkname))
				{
					return false;
				}
				else
				{
					return true;		
				}
			}
			function getShowPayVal(){
				var rechargeFlag=checkRecharge();
				var agreeFlag=validateAgree();
				flag=rechargeFlag&&agreeFlag;
				$("#recharge\\:rechargeWay").val($("#showpay").html());
				var bankProtocol = $("#bankProtocol").attr('class');
				if(!bankProtocol)
				{
					$("#bankProtocol_message").show();
					 return false;
				}

				return flag;
			}
			
			
			function amount(th){
			    var regStrs = [
			        ['^0(\\d+)$', '$1'], //禁止录入整数部分两位以上，但首位为0
			        ['[^\\d\\.]+$', ''], //禁止录入任何非数字和点
			        ['\\.(\\d?)\\.+', '.$1'], //禁止录入两个以上的点
			        ['^(\\d+\\.\\d{2}).+', '$1'] //禁止录入小数点后两位以上
			    ];
			    for(i=0; i<regStrs.length; i++){
			        var reg = new RegExp(regStrs[i][0]);
			        th.value = th.value.replace(reg, regStrs[i][1]);
			    }
			    if(th.value>9999999.99){
			    	th.value = th.value.substr(0,th.value.length-1);
			    }
			}

			//验证输入银行卡号的合法性
			function checkBankCardNo() {
				//$("#form\\:defaultBankName").text("");
				var cardNo = $("#form\\:bankCardNo").val(); 
				var reg = /^\d{16,19}$/g; // 以19位数字开头，以19位数字结尾 
				if( !reg.test(cardNo) ) 
				{ 
					// $(".info2-bank").css({"display":"none"});
				    var $span = "<em></em>银行卡号输入错误";
				    $("#bankCardError").html($span);
					return false;		
				} else{
					//$(".info2-bank").css({"display":"block"});
					$("#bankCardError").html("");
				}
				return true;
			}
			function checkBank() {
				$("#form\\:defaultBankName").text("");
				var cardNo = $("#form\\:bankCardNo").val(); 
				var reg = /^\d{16,19}$/g; // 以19位数字开头，以19位数字结尾 
				if( !reg.test(cardNo) ) 
				{ 
					$(".info2-bank").css({"display":"none"});
					return false;		
				} else{
					$(".info2-bank").css({"display":"block"});
				}
				return true;
			}

			function validateAgree2()
			{
				var $checkname=$("#bank-check2").children("b").hasClass("selected");
				if(!($checkname))
				{
					showSpan('alert-tyht');
					return false;
				}
				else
				{
					return true;		
				}
			}
			
			function checkRecharge1() {
				var moneyRegex="^(([1-9]+[0-9]*)|((([1-9]+[0-9]*)|0)\\.[0-9]{1,2}))$";
				var money = $("#form\\:actualMoney1").val();
				var nullFlag=(money=="")||money<=0;
				var numberFlag=isNaN(money);
				//如果输入为空
				if(nullFlag)
				{
					var $span = "<em></em>请输入充值金额";
					$(".quick-error").html($span);
					return false;
				}
				else
				{
					$(".quick-error").html("");
				}
				//如果输入的不是数字
				if(numberFlag)
				{
					var $span = "<em></em>请输入数字";
					$(".quick-error").html($span);
					return false;
				}
				else
				{
					$(".quick-error").html("");
				}
				//输入金额是否合法
				var moneyPattern = new RegExp(moneyRegex);
		    	var legalFlag=moneyPattern.test(money);
				if(!legalFlag)
				{
					var $span = "<em></em>金额必须大于0且为整数或小数，小数点后不超过2位";
					$(".quick-error").html($span);
					return false;		
				}
				else
				{
					$(".quick-error").html("");
				}

				if(parseInt(money) > 50000){
					var $span = "<em></em>充值金额超过50000元";
					$(".quick-error").html($span);
					return false;
				}else
				{
					$(".quick-error").html("");
				}
				return true;
			}

			function getShowPayVal1(){
				var rechargeFlag=checkRecharge1();
				var bankCardFlag = checkBankCardNo();
				var agreeFlag=validateAgree2();
				var payflag=rechargeFlag && bankCardFlag && agreeFlag;
				var defaultBankName = $("#form\\:defaultBankName").text();
				if(defaultBankName.replace(/(^\s*)|(\s*$)/g, "")=="此银行暂不支持"){
					var $span = "<em></em>此银行暂不支持";
					$(".quick-error3").html($span);
					return false;
				}
				/*$("#recharge\\:rechargeWay").val($("#showpay").html());
				var bankProtocol = $("#bankProtocol").attr('class');
				if(!bankProtocol)
				{
					$("#bankProtocol_message").show();
					 return false;
				}*/
				// return payflag;
                if(payflag==true){
                    layer.open({
                        type: 2,
                        title: '支付密码界面',
                        shadeClose: true,
                        shade: 0.8,
                        anim: 2,
                        area: ['700px', '500px'],
                        content: '/p2p/toPay' //iframe的url
                    });
                }
			}

			function checkRecharge2() {
				var moneyRegex="^(([1-9]+[0-9]*)|((([1-9]+[0-9]*)|0)\\.[0-9]{1,2}))$";
				var money = $("#form2\\:actualMoney2").val();
				var nullFlag=(money=="")||money<=0;
				var numberFlag=isNaN(money);
				//如果输入为空
				if(nullFlag)
				{
					var $span = "<em></em>请输入充值金额";
					$("#quick-error2").html($span);
					return false;
				}
				else
				{
					$("#quick-error2").html("");
				}
				//如果输入的不是数字
				if(numberFlag)
				{
					var $span = "<em></em>请输入数字";
					$("#quick-error2").html($span);
					return false;
				}
				else
				{
					$("#quick-error2").html("");
				}
				//输入金额是否合法
				var moneyPattern = new RegExp(moneyRegex);
		    	var legalFlag=moneyPattern.test(money);
				if(!legalFlag)
				{
					var $span = "<em></em>金额必须大于0且为整数或小数，小数点后不超过2位";
					$("#quick-error2").html($span);
					return false;		
				}
				else
				{
					$("#quick-error2").html("");
				}

				if(parseInt(money) > 50000){
					var $span = "<em></em>充值金额超过50000元";
					$("#quick-error2").html($span);
					return false;
				}else
				{
					$("#quick-error2").html("");
				}
				return true;
			}

			function getShowPayVal2(){
				var rechargeFlag=checkRecharge2();
				var agreeFlag=validateAgree2();
				var payflag=rechargeFlag && agreeFlag;
				/*$("#recharge\\:rechargeWay").val($("#showpay").html());
				var bankProtocol = $("#bankProtocol").attr('class');
				if(!bankProtocol)
				{
					$("#bankProtocol_message").show();
					 return false;
				}*/
				return payflag;

			}

			/* function showSpan(op){
				$("body").append("<div id='maskCommon'></div>");
				$("#maskCommon").addClass("mask1").css("display","block");
				$("#"+op).css("display","block");
			} */

			/* function displaySpan(op){
				$("#alert-ClickDialog").hide();
				$("#maskCommon").hide();
			} */
			
			$(document).ready(function(){
				  if("false"=='true'){
					 showSpan("alert-ClickDialog");
				  } 
				  if("false"=='true'){
						 showSpan("alert-unbindMsgDialog");
					  } 
			 });
			//]]>
		</script>
    <div class="personal-main">
      <div class="personal-pay">
        <h3><i>充值</i></h3>
        <div class="quick-pay-wrap">
          <h4> <span class="quick-tit pay-cur"><em>快捷支付</em></span></h4>
          <form id="form" name="form" method="post" action="" >
            <div class="quick-main">
              <div class="fl quick-info">
                <div class="info-1"> <span class="info-tit">充值金额</span> <span class="info1-input">
                  <input id="form:actualMoney1" type="text" name="dollar" class="pay-money-txt" maxlength="10" >
                  <em>元</em> </span> <span class="quick-error"> </span> </div>
                <div class="info-tips">中兴财富提醒您：充值金额超过50000元时，请切换到网银充值</div>
                <div class="info-2" style="width:600px"> <span class="info-tit">银行卡号</span> <span class="info2-input" style="width:354px">
                  <input id="form:bankCardNo" type="text" name="form:bankCardNo" class="tx-txt" style="">
                  <img src="" id="bankLogo" style="padding-top: 22px"/>

                  <em class="info2-bank" style="display: none;">
                  <label id="form:defaultBankName" style="font-size:16px;"> </label>
                  </em> </span> <span class="quick-error3" id="bankCardError" style="padding-top: 10px"></span> </div>
                <div class="bank-check" id="bank-check2"> <b class="selected" id="bankProtocol1"></b><span class="bank-agree">我同意并接受<a href="#" target="_blank">《中兴财富投资咨询与管理服务电子协议》</a></span> <span class="error" id="bankProtocol_message" style="display:none;margin-top:-3px;">请同意协议内容！</span> </div>
                <input type="button" name="" value="充值" class="btn-paycz" onclick="getShowPayVal1()">
              </div>
            </div>
          </form>
      <div class="alert-450 alert-h220" id="alert-rechargeFailture" style="display:none;">
        <div class="alert-title">
          <h3 id="ceshi">登录网上银行充值</h3>
          <span class="alert-close" onclick="displaySpan('alert-rechargeFailture')"></span></div>
        <div class="alert-main">
          <form id="rechargeFailtureForm">
            <p class="msg1"><i class="no-icon"></i><i class="msgtxt">充值失败</i>您可以：<a href="#"><font color="#28A7E1">选择其他银行充值</font></a>或查看<a href="#"><font color="#28A7E1">充值帮助</font></a></p>
          </form>
        </div>
      </div>
      <div class="clear"></div>
      <div class="alert-400 alert-h220" id="alert-ClickDialog" style="display:none;">
        <div class="alert-title">
          <h3>消息</h3>
        </div>
        <div class="alert-main">
          <p class="msg4"> </p>
          <p class="msg-a"><a class="btn-ok btn-145" onclick="displaySpan('alert-ClickDialog')" href="#">关 闭</a></p>
        </div>
      </div>
      <div class="alert-400 alert-h220" id="alert-unbindMsgDialog" style="display:none;">
        <div class="alert-title">
          <h3>消息</h3>
        </div>
        <div class="alert-main">
          <p class="msg4"> </p>
          <p class="msg-a"><a class="btn-ok btn-145" onclick="displaySpan('alert-unbindMsgDialog')" href="#">关 闭</a></p>
        </div>
      </div>
      <script type="text/javascript">
	        $("#recharge\\:actualMoney").val("单笔大于0元");
	        var value = "单笔大于0元";
	        $("#recharge\\:actualMoney").focus(
					   function(){
						   	$(this).css({"font-size":"24px","font-weight":"bold","font-family":"Arial","border":"1px solid #0caffe"});
						   if($("#recharge\\:actualMoney").val() == value) { 
							   	$("#recharge\\:actualMoney").val("")
								$(this).css({"font-size":"24px","font-weight":"bold","font-family":"Arial"});
						   }
						}).blur(
						function(){
						   $(this).css("border","1px solid #D0D0D0");
						   if($("#recharge\\:actualMoney").val() == "") {
							  $("#recharge\\:actualMoney").val("单笔大于0元").css("color", "#D0D0D0");
							   	$(this).css({"color":"#D0D0D0","font-size":"14px","font-weight":"normal"});
					}
				})

			$("#form\\:actualMoney1").val("单笔大于0元");
	        $("#form\\:actualMoney1").focus(
					   function(){
						   	$(this).css({"font-size":"24px","font-weight":"bold","font-family":"Arial","border":"1px solid #0caffe", "height":"38px"});
						   if($("#form\\:actualMoney1").val() == value) { 
							   	$("#form\\:actualMoney1").val("");
								$(this).css({"font-size":"24px","font-weight":"bold","font-family":"Arial", "height":"38px"});
						   }
						}).blur(
						function(){
						   $(this).css("border","1px solid #D0D0D0");
						   if($("#form\\:actualMoney1").val() == "") {
							  $("#form\\:actualMoney1").val("单笔大于0元").css("color", "#D0D0D0");
							  $(this).css({"color":"#D0D0D0","font-size":"14px","font-weight":"normal", "height":"38px"});
					}
				})
				
			$("#form2\\:actualMoney2").val("单笔大于0元");
	        $("#form2\\:actualMoney2").focus(
					   function(){
						   	$(this).css({"font-size":"24px","font-weight":"bold","font-family":"Arial","border":"1px solid #0caffe", "height":"38px"});
						   if($("#form2\\:actualMoney2").val() == value) { 
							   	$("#form2\\:actualMoney2").val("")
								$(this).css({"font-size":"24px","font-weight":"bold","font-family":"Arial", "height":"38px"});
						   }
						}).blur(
						function(){
						   $(this).css("border","1px solid #D0D0D0");
						   if($("#form2\\:actualMoney2").val() == "") {
							  $("#form2\\:actualMoney2").val("单笔大于0元").css("color", "#D0D0D0");
							   	$(this).css({"color":"#D0D0D0","font-size":"14px","font-weight":"normal", "height":"38px"});
					}
				})
				
				function keyUpcheck()
				{
					$(this).css({"font-size":"24px","font-weight":"bold","font-family":"Arial"});
				}

	        $("#form\\:bankCardNo").val("请输入银行卡号");
	        var cardValue = "请输入银行卡号";
	        $("#form\\:bankCardNo").focus(
					   function(){
						   	$(this).css({"font-size":"14px","font-weight":"bold","font-family":"Arial","border":"1px solid #0caffe", "color": "rgb(75, 73, 72)"});
                            $("#bankLogo").prop("src","");
						   	if($("#form\\:bankCardNo").val() == cardValue) {
							   	$("#form\\:bankCardNo").val("")
								$(this).css({"font-size":"14px","font-weight":"bold","font-family":"Arial"});
						   }
						}).blur(
						function(){
						   $(this).css("border","1px solid #D0D0D0");
						   if($("#form\\:bankCardNo").val() == "") {
							  $("#form\\:bankCardNo").val("请输入银行卡号").css("color", "#D0D0D0");
							   	$(this).css({"color":"#D0D0D0","font-size":"14px","font-weight":"normal"});
                           }else{
						       var bankId = $(this).val();
                               var bankTypeCode = bankCardAttribution(bankId).bankCode;
                               $("#bankLogo").prop("src","https://apimg.alipay.com/combo.png?d=cashier&t="+bankTypeCode);
                           }
				})
			</script>
      <div class="alert-450" id="alert-tyht" style="display:none;">
        <div class="alert-title">
          <h3>提示信息</h3>
          <span class="alert-close" onclick="displaySpan('alert-tyht')"></span></div>
        <div class="alert-main" style="margin-bottom: 35px;margin-left: 25px;">
          <p class="msg4"> 你需要阅读并同意《中兴财富金融投资咨询与管理服务电子协议》 </p>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
  </div>
<!--网站底部-->
<div class="footer">
  <div class="foot">
    <article>
      <div class="friend">
        <a href="#">关于我们</a>
        <span></span>
        <a href="#">法律声明</a>
        <span></span>
        <a href="#">媒体报道</a>
        <span></span>
        <a href="#">团队介绍</a>
        <span></span>
        <a href="#">帮助中心</a>
        <span></span>
        <a href="#">友情链接</a>
      </div>
      <figure></figure>
      <p>© 2016 北京乐融多源信息技术有限公司 京ICP证12049103号-3 京公网安备11010502025440</p>
      <div class="certificate"></div>
    </article>
    <aside>
      <p>联系我们 <span>9:00 - 21:00</span> </p>
      <h1>400-068-1176</h1>
      <div class="customer"><a href="#">在线客服</a></div>
      <div class="customer"><a href="#">客服邮箱</a></div>
    </aside>
  </div>
</div>
</div>
</body>
</html>
