<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
  meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="yirenbao/css/common.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="yirenbao/css/user.css" />
  <script type="text/javascript" src="yirenbao/script/jquery.min.js"></script>
  <script type="text/javascript" src="yirenbao/script/common.js"></script>
  <script src="yirenbao/script/user.js" type="text/javascript"></script>
  <!------------------->
  <link rel="stylesheet" type="text/css" href="style/style.css"/>
  <script type="text/javascript" src="script/javasrcipt.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <link rel="stylesheet/less" type="text/css" href="css/style.less" /> -->
  <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/all.js"></script>
</head>
<body>

<div class="zxcf_top_wper">
  <div class="zxcf_top px1000 clearfix">
    <div class="zxcf_top_l fl">
      <img src="images/zxcf_phone.png" alt="">
      400-027-0101(工作时间9:00-17:30)
      <a href="#"><img src="images/zxcf_weixin.png" alt=""></a>
      <a href="#"><img src="images/zxcf_sina.png" alt=""></a>
      <a href="#"><img src="images/zxcf_qq.png" alt=""></a>
    </div>
    <div class="zxcf_top_r fr">
      <a href="toLogin" class="curspan">立即登录</a>
      <span>|</span>
      <a href="toRegister">免费注册</a>
      <span>|</span>
      <a href="toproblem">常见问题</a>
    </div>
  </div>
</div>
<!-- end top -->

</div>
<!-- end top -->
<div class="zxcf_nav_wper">
  <div class="zxcf_nav clearfix px1000">
    <div class="zxcf_nav_l fl"><img src="images/zxcf_logo.png" alt=""></div>
    <div class="zxcf_nav_r fr">
      <img src="images/zxcf_perinfo.png" alt="">
      <span>我的账户
		 	<img src="images/zxcf_icon01.png" alt=""></span>
      <ul class="zxcf_perinfo" style="display:none;">
      </ul>
    </div>
  </div>
</div>
<div class="zxcf_menu_wper">
  <div class="zxcf_menu px1000">
    <a href="toIndex" class="zm_cura">首页</a>
    <a href="toInvest">我要投资</a>
    <a href="toBorrow">我要借款</a>
    <a href="#">实时财务</a>
    <a href="toGeRenZhongXinShouYe">账户信息</a>
    <a href="#" style="margin-right:0;">关于我们</a>
  </div>
</div>
<!--个人中心-->
<div class="wrapper wbgcolor">
  <div class="w1200 personal">
    <div class="credit-ad"><img src="images/clist1.jpg" width="1200" height="96"></div>
    <div id="personal-left" class="personal-left">
      <ul>
        <li class="pleft-cur"><span><a href="GRZX.html"><i class="dot dot1"></i>账户总览</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="toGRZXZiJin">资金记录</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="toGRZXTouZi">投资记录</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="toGRZXHuiKuan">回款计划</a></span></li>
        <li class=""><span><a href="toGRZXKaiTong1"><i class="dot dot02"></i>开通第三方</a> </span> </li>
        <li><span><a href="toGRZXChongZhi1"><i class="dot dot03"></i>充值</a></span></li>
        <li class=""><span><a href="toGRZXTiXian1"><i class="dot dot04"></i>提现</a></span></li>
        <li style="position:relative;" class=""> <span> <a href="toGRZXHongBao"> <i class="dot dot06"></i> 我的红包 </a> </span> </li>
        <li class=""><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="toGRZXDuiHuan">兑换历史</a></span></li>
        <li style="position:relative;"> <span> <a href="toGRZXXiTongXiaoXi"><i class="dot dot08"></i>系统信息 </a> </span> </li>
        <li><span><a href="toGRZXZhangHao"><i class="dot dot09"></i>账户设置</a></span></li>
      </ul>
    </div>
    <label id="typeValue" style="display:none;"> </label>
    <div class="personal-main">
      <div class="personal-xtxx">
        <h3><i>系统消息</i></h3>
        <form id="form" name="form" method="post" action="">
          <input type="hidden" name="form" value="form">
          <span id="form:dataTable">
          <script type="text/javascript">
								//<![CDATA[
									$(function(){
										$("#pxtxx-list li").click(function(){
											var changeStatusTag = false;
											if($(this).children("span").hasClass("pxtxx-newmail")){
												$(this).children("span").removeClass("fb");
												$(this).children("span.pxtxx-newmail").removeClass("pxtxx-newmail").addClass("pxtxx-mail");	
												changeStatusTag = true;
											}
											$(this).children(".pxtxx-notice").show();
											/*var displayValue = $(this).children(".pxtxx-notice").css("display");
											if("block"==displayValue || "inline"==displayValue){
												$(this).css("background-color","#fff");
												$(this).mouseover(function(){
													$(this).css("background-color","#fff");
												});
												$(this).mouseout(function(){
													$(this).css("background-color","#fff");
												});
											}else if("none"==$(this).children(".pxtxx-notice").css("display")){
												$(this).css("background-color","#F8F8F8");
												$(this).mouseover(function(){
													$(this).css("background-color","#F8F8F8");
												});
												$(this).mouseout(function(){
													$(this).css("background-color","#fff");
												});
												
											}*/
											$(this).siblings().children(".pxtxx-notice").css("display","none");
											if(changeStatusTag){
												$(this).children("a").click();
												$(this).click();
											}
										});
									});
									
								//]]>
								</script>
          <div id="pxtxx-tab" class="pxtxx-tab">
            <ul>
              <li class="on"><a  href="#" style="color:#fff;padding:5px 22px;display:block;" title="全部">全部</a> </li>
              <li><a href="#" style="padding:5px 22px;display:block;" title="未读">未读</a> </li>
              <li><a href="#" style="padding:5px 22px;display:block;" title="已读">已读</a> </li>
            </ul>
            <span class="xxsz" style="display:none;">消息设置</span> </div>
          <div class="pxtxx-title"> <span class="pxtxx-type ml46">消息类型</span><span class="pxtxx-con">内容</span><span class="pxxtx-date">发送时间</span> </div>
          <div id="pxtxx-list" class="pxtxx-list">
            <ul>
              <li><span class="pxtxx-type ml46">公司公告</span><span class="pxtxx-con">热烈祝贺阳光易贷新平台上线</span><span class="pxxtx-date">2015-10-1</span></li>
              <li><span class="pxtxx-type ml46">公司公告</span><span class="pxtxx-con">热烈祝贺阳光易贷新平台上线</span><span class="pxxtx-date">2015-10-1</span></li>
              <li><span class="pxtxx-type ml46">公司公告</span><span class="pxtxx-con">热烈祝贺阳光易贷新平台上线</span><span class="pxxtx-date">2015-10-1</span></li>
            </ul>
          </div>
          </span>
        </form>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!--网站底部-->
<div class="footer">
  <div class="foot">
    <article>
      <div class="friend">
        <a href="#">关于我们</a>
        <span></span>
        <a href="#">法律声明</a>
        <span></span>
        <a href="#">媒体报道</a>
        <span></span>
        <a href="#">团队介绍</a>
        <span></span>
        <a href="#">帮助中心</a>
        <span></span>
        <a href="#">友情链接</a>
      </div>
      <figure></figure>
      <p>© 2016 北京乐融多源信息技术有限公司 京ICP证12049103号-3 京公网安备11010502025440</p>
      <div class="certificate"></div>
    </article>
    <aside>
      <p>联系我们 <span>9:00 - 21:00</span> </p>
      <h1>400-068-1176</h1>
      <div class="customer"><a href="#">在线客服</a></div>
      <div class="customer"><a href="#">客服邮箱</a></div>
    </aside>
  </div>

</div>
</body>
</html>
