<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.dao.LoanDao">
    <!--房屋抵押贷款-->
    <insert id="applyForLoad">
    <!--贷款编号-用户编号-用户姓名-贷款金额-贷款利息-还款方式-还款时限-贷款用途-贷款描述-贷款情况-开始投标时间-贷款类型-->
      insert into tb_loans (loansid,userid,username,loansmoney,loansinterestrate,refundway,refunddeadline,loansused,describe,loanscase,begintime,loanstype)
      values (seq_tb_loans_id,#{userid},#{username},#{loansmoney},#{loansinterstrate},#{refundway},#{refunddeadline},#{loansDescribe},#{loanscase}
        sysdate,#{type})
    </insert>
    <insert id="">

    </insert>
</mapper>