<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group7.dao.LoanDao">
    <!--点击申请贷款，查询当前用户的信息-->
    <select id="getUserInfo" resultType="map">
      select a.userid,a.userphone,a.bankcardnumbers as bankcardnumbers,a.identitycard,a.name,b.certification as certification from tb_userinformation a
        join tb_useraccount b on b.userinformationid = a.userinformationid
        where a.userid=(select c.id from tb_user c where c.username=#{username})
    </select>
    <!--查询是否该账户已经贷款-->
    <select id="selectloans" resultType="map">
      select * from tb_loans where userid=(select id from tb_user where username=#{username}) and loansstate in(1,2,3,4,5,6,7,10,12)
    </select>
    <!--房屋抵押贷款-->
    <insert id="applyForLoad">
        <selectKey keyProperty="loansid" order="BEFORE" resultType="int">
            select seq_tb_loans_id.nextval from dual
        </selectKey>
    <!--贷款编号-用户编号-用户姓名-贷款金额-贷款利息-还款方式-还款时限-贷款用途-贷款描述-贷款情况-开始投标时间-贷款类型-贷款状态-->
      insert into tb_loans (loansid,userid,username,userphone,loansmoney,loansinterestrate,refundway,refunddeadline,loansused,describe,loancase,begintime,loanstype,loansstate)
      values (#{loansid},#{userid},#{name},#{userphone},#{loansmoney}*10000,#{loansinterestrate},#{refundway},#{refunddeadline},#{loansused},#{describe},#{loanscase},
        sysdate,#{type},1)
    </insert>
    <!--贷款类型是房屋抵押贷的存到数据库中-->
    <insert id="houseLoans" >
      insert into tb_loanstype (loanstype,loansid,loanstypename,houseproperty,appraisalreport,globalvalue) values
        (#{type},#{loansid},'房屋抵押贷',#{houseproperty},#{appraisalreport},#{globalvalue}*10000)
    </insert>
    <!--贷款类型是车辆抵押贷的存到数据库中-->
    <insert id="carLoans">
        insert into tb_loanstype (loanstype,loansid,loanstypename,carinformation,appraisalreport,globalvalue) values
        (#{type},#{loansid},'车辆抵押贷',#{carinfo},#{appraisalreport},#{globalvalue}*10000)
    </insert>
</mapper>